@charset "utf-8";

body{
    color:#f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;

}
a{
    text-decoration: none;
}

section{
    width: 100%;
    height: 95vh;
    /*background-image: url('./img/25.jpg');*/
    background-repeat: no-repeat;
    background-position: cover;
    position:relative;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
    
}

nav ul{
    display: flex;     
}

nav ul li a{
    margin:30px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000;
    font-size: 22px;
}

.current{
    font-weight: bold;
    color: #2d2a2a;
}
 
.text{
    font-family: calibri;
    font-weight: bold;
    color: black; 
    font-size: 20px;
    margin: 45px 0px 25px ;
    
    position: absolute;
    left: 35%;
    top: 65%;
    transform: translate(-35%, -65%);

}
/*
.text button{
    width:130px;
    height: 42px;
    border-radius: 10px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    margin: 0px 10px;
}
.hire-btn{
  border:2px slid #373636;
  color: #373636;
}
  .download-cv{
      background-color:#0b0b0b;
      color: white;
  }
  */
  .text{
      height: 560px;
      position: absolute;
      bottom: 0px;
      left: 70%;
      transform: translateX(-70%);

  }




  @media(min-width: 700px) {
    #landing{
        display: flex;
        height: 100%;
    }
   
       





