-@charset "utf-8";
body {
    background-color: rgb(97, 96, 96);
    margin: 0px;
    padding: 0px;
    color: rgb(245, 244, 244);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    position: relative;
}


img.model {
    grid-area: bioimage;
    margin: 100px;
    width: 260px;
    border-radius: 80%;
    border: #eece1a 3px solid;
}

.navbar h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eece1a;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

main {
    height: 80vh;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 22px;
}

.current {
    font-weight: bold;
    color: #fff;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    margin: 45px 0px 25px;
    position: absolute;
    left: 70%;
    top: 20%;
    transform: translate(-35%, -65%);
    height: 560px;
    position: absolute;
    bottom: 0px;
    transform: translateX(-70%);
    float: right-center;
    
}

.text button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    margin: 0px 10px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
}


.container {
    width: 80%;
    height: 80vh;
    background-color: none;
    border: radius 20px;
    display: flex;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 2rem;
    font-size: 20px;
    color: white;
}

.about-container {
    width: 80%;
    height: 80vh;
    background-color: none;
    border: radius 20px;
    display: flex;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 2rem;
    font-size: 20px;
    color: white;
}

span {
    color: #eece1a;
}

.work-text {
    margin-left: auto;
    padding: 80px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.imge {
    display: flex;
}

div.imge1, div.imge2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.imge1 img, .imge2 img {
    margin: 25px 50px;
    height: 500px;
    border: 1px solid rgb(117, 109, 109);
    border-radius: 10px;
    box-sizing:unset;
}

.imge a {
    padding: 15px 50px;
    color: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

footer {
    padding: 10px;
    margin-top: 50px;
    color: black;
    background-color: rgb(221, 215, 215);
    text-align: center;
}

.contact {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
}

@media screen and (max-width: 480px) {
    body {
        background-color: rgb(240, 239, 239);
        margin: 5px;
        padding: 5px;
        color: rgb(77, 70, 70);
        height: 100%;
        line-height: 1.5;
    }
    img.model {
        display: block;
        max-width: 100%;
        height: auto;
        top: 65%;
    }
    .text {
        margin: 5px 0px 5px;
        position: absolute;
        top: 30%;
        height: 50px;
        bottom: 0px;
        left: 10%;
        transform: translateX(0);
        float: left;
    }
}
